body {
  background: #0f485b;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.8rem;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
button:hover {
  opacity: 0.7;
}

.container {
  margin: 72px auto;
  width: 800px;
}

.profile-container {
  width: 150px;
  height: 150px;
  margin: auto;
  display: block;
}

.image-container {
  width: 250px;
  height: 250px;
  margin: auto;
  display: block;
  padding: 10px 0 40px 0;
}

.profile {
  border-radius: 100%;
  max-width: 150px;
  max-height: 150px;
}

h1 {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 12px;
}

.subheading {
  text-align: center;
  margin-bottom: 48px;
}

.social a {
  font-size: 24px;
  margin: 12px 6px;
  display: inline-block;
}

.item {
  margin-top: 96px;
}

.item .image {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  /* padding: 10px; */
}

.item .description {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  padding-left: 48px;
  box-sizing: border-box;
}

.item .description a h2:hover {
  /* font-size: 1.55em; */
  opacity: 0.7;
}

.item h2 {
  margin: 0;
}

.item i {
  opacity: 0.5;
  display: block;
  margin: 12px 0;
}

@media (max-width: 992px) {
  .container {
    margin: 72px auto;
    width: 100%;
    text-align: center;
    padding: 0 48px;
    box-sizing: border-box;
  }

  .item .image {
    width: 100%;
    padding-bottom: 24px;
  }

  .item .description {
    width: 100%;
    padding-left: 0;
  }
}

.skills i {
  font-size: 25px;
}

.skills {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 20px 0;
}

#about {
  margin: 30px 0 60px 0;
  text-align: center;
}

#about img {
  margin: 20px;
}

.hidden {
  display: none;
}

#about-btn,
#hide-btn {
  margin: 40px 0 20px 0;
  padding: 6px 9px 6px 9px;
  background: white;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  color: #0f485b;
  font-weight: bold;
}
